# KataGo analysis config
# Minimal settings for mobile/laptop battery efficiency

logDir = logs
logAllGTPCommunication = false
logSearchInfo = false

# Threads
numSearchThreads = 2
nnCacheSizeUseDefault = true

# Use FP16 for speed on Metal/Apple Silicon
# cudaUseFP16 = true # N/A for Metal
# openclUseFP16 = true

# Limit maximum visits per move
maxVisits = 500

# Other rules
defaultRules = tromp-taylor
